<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>wedding.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>wedding.servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>spRegisterServlet</servlet-name>
        <servlet-class>wedding.servlets.spRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>spAccount</servlet-name>
        <servlet-class>wedding.servlets.spAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cusRegisterServlet</servlet-name>
        <servlet-class>wedding.servlets.cusRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>spPostServlet</servlet-name>
        <servlet-class>wedding.servlets.spPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpPostServlet</servlet-name>
        <servlet-class>wedding.servlets.SpPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostUploadServlet</servlet-name>
        <servlet-class>wedding.servlets.PostUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpLoginServlet</servlet-name>
        <servlet-class>wedding.servlets.SpLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpLogout</servlet-name>
        <servlet-class>wedding.servlets.SpLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>wedding.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdLogoutServlet</servlet-name>
        <servlet-class>wedding.servlets.AdLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>data_retriveServlet</servlet-name>
        <servlet-class>wedding.servlets.data_retriveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postRetriveServlet</servlet-name>
        <servlet-class>wedding.servlets.postRetriveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpPostViewServlet</servlet-name>
        <servlet-class>wedding.servlets.SpPostViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeInquiryServlet</servlet-name>
        <servlet-class>wedding.servlets.MakeInquiryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInquiryServlet</servlet-name>
        <servlet-class>wedding.servlets.ShowInquiryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSpRequestDetailsServlet</servlet-name>
        <servlet-class>wedding.servlets.ShowSpRequestDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSpServlet</servlet-name>
        <servlet-class>wedding.servlets.AddSpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSpServlet</servlet-name>
        <servlet-class>wedding.servlets.ShowSpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSpServlet</servlet-name>
        <servlet-class>wedding.servlets.DeleteSpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveServlet</servlet-name>
        <servlet-class>wedding.servlets.ReserveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveCusViewServlet</servlet-name>
        <servlet-class>wedding.servlets.ReserveCusViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceConfirmServlet</servlet-name>
        <servlet-class>wedding.servlets.ServiceConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusFeedBackServlet</servlet-name>
        <servlet-class>wedding.servlets.CusFeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFeedbackServlet</servlet-name>
        <servlet-class>wedding.servlets.ShowFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpReservedServiceView</servlet-name>
        <servlet-class>wedding.servlets.SpReservedServiceView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecialPackageServlet</servlet-name>
        <servlet-class>wedding.servlets.SpecialPackageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>spRegisterServlet</servlet-name>
        <url-pattern>/spRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>spAccount</servlet-name>
        <url-pattern>/spAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cusRegisterServlet</servlet-name>
        <url-pattern>/cusRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>spPostServlet</servlet-name>
        <url-pattern>/spPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpPostServlet</servlet-name>
        <url-pattern>/SpPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostUploadServlet</servlet-name>
        <url-pattern>/PostUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpLoginServlet</servlet-name>
        <url-pattern>/SpLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpLogout</servlet-name>
        <url-pattern>/SpLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdLogoutServlet</servlet-name>
        <url-pattern>/AdLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>data_retriveServlet</servlet-name>
        <url-pattern>/data_retriveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postRetriveServlet</servlet-name>
        <url-pattern>/postRetriveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpPostViewServlet</servlet-name>
        <url-pattern>/SpPostViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeInquiryServlet</servlet-name>
        <url-pattern>/MakeInquiryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInquiryServlet</servlet-name>
        <url-pattern>/ShowInquiryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSpRequestDetailsServlet</servlet-name>
        <url-pattern>/ShowSpRequestDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSpServlet</servlet-name>
        <url-pattern>/AddSpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSpServlet</servlet-name>
        <url-pattern>/ShowSpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSpServlet</servlet-name>
        <url-pattern>/DeleteSpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveServlet</servlet-name>
        <url-pattern>/ReserveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveCusViewServlet</servlet-name>
        <url-pattern>/ReserveCusViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceConfirmServlet</servlet-name>
        <url-pattern>/ServiceConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusFeedBackServlet</servlet-name>
        <url-pattern>/CusFeedBackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFeedbackServlet</servlet-name>
        <url-pattern>/ShowFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpReservedServiceView</servlet-name>
        <url-pattern>/SpReservedServiceView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialPackageServlet</servlet-name>
        <url-pattern>/SpecialPackageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
